<mat-nav-list class="py-2">
  <mat-list-item >
    <img matListAvatar matTooltip="Cambiar foto de perfil"  matTooltipPosition="before" (click)="changePhoto()" [src]="srcPhoto | image" alt="...">
    <h1 matLine> <strong>{{this.user.name | uppercase}}</strong> 
         <span class="text-muted"> (Nivel {{this.user.level}}) </span>
    </h1>
    <p matLine>
      <span class="text-muted">{{this.user.email}} </span>
    </p>
    <mat-divider class="example-full-width"></mat-divider>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>
