<div class="mat-body">
  <div class="d-flex py-3 flex-column minWidth10">
    <div class="d-flex flex-row justify-content-end">
    <span class="badge badge-pill badge-success">Nivel: {{this.user.level}}</span>
    </div>
    <img class="profile-image img-thumbnail rounded-circle" src="./assets/img/no-image.png"/>
  </div>
  <div>
    <ul class="list-group list-group-flush maxWidth8cm justify-content-center bg-light">
      <li class="list-group-item blackBorder justify-content-center d-flex bg-light">
        <strong>
            Nombre: 
        </strong>
        <div class="px-2">
          {{this.user.name}}
        </div> 
      </li>
      <li class="list-group-item blackBorder justify-content-center d-flex bg-light">
        <strong>
            Genero: 
        </strong> 
        <div class="px-2">
          {{this.user.gender}}
        </div>
      </li>
      <li class="list-group-item blackBorder justify-content-center d-flex bg-light">
        <strong>
            Mail: 
        </strong>
        <div class="px-2"> 
          {{this.user.email}}
        </div>
      </li>
       <li class="list-group-item blackBorder justify-content-center d-flex bg-light">
        <strong>
          Experiencia: 
        </strong>
        <div class="px-2"> 
        {{this.user.experience}} pts.
        </div>
      </li>
      <li class="list-group-item blackBorder bg-light"></li>
    </ul>
  </div>
</div>
