<div class="d-flex flex-row justify-content-center bg-light all animated fadeIn fast">
    <div class="d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center py-5">
            <img src="./assets/img/search_logo_2.png"/>
        </div>
        <div class="d-flex justify-content-center">
           <!-- <h2>Ingrese el mail del dueño de la mascota</h2> -->
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input class="text-center" (input)="input=$event.target.value" autofocus (keyup.enter)="find()" type="text" matInput placeholder="Ingrese el mail del dueño de la mascota" required>
                </mat-form-field>
            </form>
        <!--    <input  class="minWidth25 d-flex text-center" /> 
            -->
            <a class="d-flex flex-row justify-content-center" mat-raised-button color="primary" (click)="find()">
                <div class= "d-flex justify-content-center">
                    <strong>Buscar</strong>
                 <div class= "d-flex px-2 justify-content-center align-items-center" *ngIf="busy">
                    <i class="fas fa-spinner fa-spin"></i>
                 </div>
                 <div class= "d-flex px-2 justify-content-center align-items-center" *ngIf="!busy">
                    <i class="fas fa-search"></i>
                 </div>                
                </div>
            </a>
        </div>
    </div>
</div>
