
<div class="container-fluid minHeight100">
      <div class="row">
        <nav class="col-md-3 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <app-show-user-profile></app-show-user-profile>
              </li>
            </ul>

<mat-nav-list>
   <mat-divider></mat-divider>
   <a mat-list-item class="d-flex justify-content-center" (click)="viewPets()">
    <div class="px-2">
      <i class="fas fa-paw" style="color:purple"></i>
    </div>
    Mascotas 
   </a>
   <mat-divider></mat-divider>
   <a mat-list-item class="d-flex justify-content-center" (click)="viewMilestones()">
    <div class="px-2">
      <i class="fas fa-trophy" style="color:gold"></i>
    </div> 
    Logros 
   </a>
   <mat-divider></mat-divider>
</mat-nav-list>
  
          </div>
        </nav>
         <div class="col-md-9 d-flex flex-row justify-content-center">
         <div class="d-flex flex-column main-container minWidth90percent">
          <router-outlet></router-outlet>
          </div>
         </div>
  </div>
</div>

