<div *ngIf='this.pets.length === 0' >
        <div class="alert alert-light text-center" role="alert">
                No tienes mascotas registradas.
        </div>
</div>
<mat-nav-list class="py-2">
  <mat-list-item *ngFor="let pet of pets; let i=index; last as last" (click)="goToProfile(pet,i)">
    <img matListAvatar [src]="pet.image| image" alt="...">
    <h3 matLine> {{pet.name| uppercase}} </h3>
    <p matLine>
      <span class="text-muted">Especie: {{pet.species| nullTransformer}} </span>
    </p>
    <mat-divider class="example-full-width" [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-nav-list>