<a mat-button color="primary" class="my-1" (click)="goBack()"> < Volver atras</a>
<mat-card class="example-full-width cardHeight">
   <mat-card-title class="mat-h2">{{pet.name | uppercase}} </mat-card-title>
      <mat-card-content>
      
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Perfil</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Historia clínica</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Vacunas</a>
          </div>
        </nav>
      
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade cardHeight show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="d-flex flex-row align-content-center align-self-center">
              <app-show-pet-profile></app-show-pet-profile>
            </div>
            </div>
            <div class="tab-pane fade cardHeight" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="d-flex flex-row align-content-center align-self-center">
              <app-show-medical-cards></app-show-medical-cards>              
            </div>
            </div>
            <div class="tab-pane fade cardHeight" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <div class="d-flex flex-row align-content-center align-self-center">
                <app-show-vaccines></app-show-vaccines>
              </div>
            </div>
        </div>
        </mat-card-content>
</mat-card>




