
<div class="main-container animated fadeIn fast">
<div class="d-flex flex-column">

  <div class="d-flex flex-row justify-content-center ">
    <div class="d-flex py-1">
      <img class="profile-image img-thumbnail rounded-circle" src="./assets/img/perfil_gato.jpg"/>
    </div>

    <ul class="list-group list-group-flush margin-left-40 justify-content-center ">
      <li class="list-group-item blackBorder justify-content-center d-flex">
        <h1>- {{pet.name | uppercase}} -</h1>
      </li>
      <li class="list-group-item blackBorder justify-content-between d-flex">
        <strong>
          <i class="fas fa-calendar-day"></i>
          F. de nacimiento: 
        </strong> 
          {{pet.date_of_birth| dateFormatter}}
      </li>
      <li class="list-group-item blackBorder justify-content-between d-flex">
        <strong>
          <i class="fas fa-paw"></i>
          Especie: 
        </strong> 
        {{ pet.species | nullTransformer}} 
      </li>
      <li class="list-group-item blackBorder justify-content-between d-flex">
        <strong>
          <i class="fas fa-award"></i>
          Raza: 
        </strong> 
        {{ pet.breed | nullTransformer}}
      </li>
      <li class="list-group-item blackBorder"></li>
    </ul>

  </div>

  <h2 class="py-4 grey-background d-flex justify-content-center">
    | Historia clínica | 
  </h2>
 
  <ul class="nav nav-tabs py-2 " id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">30/01/2018</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">30/01/2017</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">30/01/2016</a>
    </li>
  </ul>


  <div class="tab-content min25" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Hola yo soy la primer historia clinica</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Yo soy la segunda historia</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Yo soy la tercer historia</div>
  </div>



</div>

  <h2 class="margin-top-40 py-4 grey-background d-flex justify-content-center">| Vacunas | </h2>
  

  <div class="py-2 card-columns">
    <div *ngFor="let application of _petService.pet.applications" class="card maxWidth10 animated fadeIn fast">
      <div class="card-body text-right">
        <h5 class="card-title"><u>{{application.vaccine.name| uppercase}}</u></h5>
        <div class="card-text text-muted">
          Fecha optima de aplicacion: 
          <div>
            {{application.estimated_date| dateFormatter}}
          </div>
        </div>
        <footer class="margin-top-40">
          <a href=# *ngIf="!application.application_date" class="card-link">Marcar como aplicada</a>
        </footer>
      </div>
    </div>
  </div>
</div>