<div class="d-flex flex-row justify-content-center mat-body">
  
  <div class="d-flex py-3">
    <img *ngIf="isUserRole" matTooltip="Cambiar foto de perfil"  matTooltipPosition="before" (click)="changePhoto()" class="profile-image img-thumbnail rounded-circle" [src]="srcPhoto | image "/>
    <img *ngIf="!isUserRole" class="profile-image img-thumbnail rounded-circle" [src]="srcPhoto | image "/>
  </div>

  <ul class="list-group list-group-flush margin-left-40 justify-content-center">
    <li class="list-group-item blackBorder justify-content-center d-flex">
      <div class="mat-h1">- {{pet.name | uppercase}} -</div>
    </li>
    <li class="list-group-item blackBorder justify-content-between d-flex">
      <strong>
        <i class="fas fa-calendar-day"></i>
          F. de nacimiento: 
      </strong> 
        {{pet.date_of_birth | dateFormatter}}
    </li>
    <li class="list-group-item blackBorder justify-content-between d-flex">
      <strong>
        <i class="fas fa-paw"></i>
          Especie: 
      </strong> 
      {{ pet.species | nullTransformer}} 
    </li>
    <li class="list-group-item blackBorder justify-content-between d-flex">
      <strong>
        <i class="fas fa-award"></i>
          Raza: 
      </strong> 
      {{ pet.breed | nullTransformer}}
    </li>
    <li class="list-group-item blackBorder"></li>
  </ul>
</div>


