<div class="mat-body">
 <h3 class="text-center">Nueva Mascota!</h3>
<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Nombre</ng-template>
      <mat-form-field>
        <input autofocus matInput placeholder="Nombre de tu mascota" formControlName="name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fecha de nacimiento</ng-template>
      <mat-form-field>
        <input [max]="today" autofocus matInput matStepperNext [matDatepicker]="picker" placeholder="Choose a date" formControlName="birthday" (dateChange)="setDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

   <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Esta castrado/a?</ng-template>
      <mat-form-field>
        <mat-select matInput matStepperNext autofocus placeholder="Select" formControlName="castrate">
          <mat-option value="true">SI</mat-option>
          <mat-option value="false">NO</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Género</ng-template>
      <mat-form-field>
        <mat-select matInput matStepperNext autofocus placeholder="Select" formControlName="gender">
          <mat-option value="FEMALE">Hembra</mat-option>
          <mat-option value="MALE">Macho</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Por favor, confirmá los datos</ng-template>
    <div class="d-flex flex-column align-content-center justify-content-center">
    <div class="text-center">
      <strong>Nombre: </strong>{{this.firstFormGroup.value.name}}
    </div>
    <div class="text-center">
      <strong>Fecha de Nacimiento: </strong>{{this.secondFormGroup.value.birthday | dateFormatter}}
    </div>
    <div class="text-center">
      <strong>Castrado/a: </strong>{{this.thirdFormGroup.value.castrate | booleanTransformer}}
    </div>
    <div class="text-center">
      <strong>Género: </strong>{{this.fourthFormGroup.value.gender | genderTransformer}}
    </div>
    <div class="d-flex justify-content-around py-4">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="submit()">Agregar Nueva Mascota!</button>
    </div>
    </div>
  </mat-step>
</mat-vertical-stepper>
</div>