<h1 mat-dialog-title>Historia clinica</h1>
<div mat-dialog-content>
  <div class="invoice-box" id="medical-pdf">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <div class="company-logo-wrapper" >
                                <div class='company-logo'></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="heading ">
            <td>
                Diagnosticos
            </td>
        </tr>
        <div id="medical-content" class="main-container">
  <div *ngIf='this.medicalCards.length === 0' >
    <div class="alert alert-light text-center" role="alert">
      El historial clinico esta vacio.
    </div>
  </div>
  <div class="d-flex flex-column-reverse allW">
    <div class="allW py-1" *ngFor="let mc of this.medicalCards">
      <div class="d-flex flex-row allW">
        <div class="px-1 ">
          <i class="fas fa-heartbeat fa-2x"></i>
        </div>
        <strong>{{mc.diagnostic}} </strong>
      
        <div class="text-muted px-2">
          ({{mc.create_date| dateFormatter}})
        </div>
      </div>
      <div class="d-flex allW text-left">
        {{mc.title}}
      </div>
      <div class="d-flex justify-content-end allW">
        <small>
        Subido por:
        {{mc.veterinary.name| uppercase}}
        <div class="text-muted px-1">
          ({{mc.veterinary.email}})
        </div>
        </small>
      </div>
      <br>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
    </table>
  </div> 
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
</div>