<div class="main-container">
  <div *ngIf='this.medicalCards.length === 0' >
    <div class="alert alert-light text-center" role="alert">
      El historial clinico esta vacio.
    </div>
  </div>

  <div class="d-flex flex-row allW">
    <div class="allW" *ngFor="let mc of this.medicalCards">
      <div class="d-flex flex-row allW">
      <strong>{{mc.diagnostic}} </strong>
      
        <div class="text-muted px-2">
          ({{mc.create_date| dateFormatter}})
        </div>
      </div>
      <div class="d-flex flex-row py-1 allW">
        {{mc.title}}
      </div>
      <div class="d-flex justify-content-end allW">
        <small>
        Subido por:
        {{mc.veterinary.name| uppercase}}
        <div class="text-muted px-1">
          ({{mc.veterinary.email}})
        </div>
        </small>
      </div>
      <br>
    </div>
  </div>
</div>
